.-Blog {
  width: 1440px;
  height: 2458px;
  background-color: #f6f6f6;
}

.bien-dep {
  width: 1440px;
  height: 118px;
  object-fit: contain;
  background-color: #e5e5e5;
}

.u-i-ni-bt {
  position: absolute;
  width: 173px;
  height: 29px;
  font-size: 24px;
  font-weight: 500;
  text-align: left;;
  color: rgb(155, 155, 17);
  margin-left:634px;
  margin-top: 1.4%;
}

.Hotels {
  width: 126px;
  height: 18px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 21.9%;
}

li {
  list-style-type: none;
  margin-top: 5%;
}

li {
  float: left;
  margin-left: 2.6%;
}

.Combo {
  width: 128px;
  height: 18px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.Rectangle-86 {
  display: flex;
  width: 1152px;
  height: 56px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 10%;
  margin-top: 2.6%;
}

.daucham {
  width: 8px;
  height: 8px;
  background-color: #c0a94b;
  margin-left: 20px;
  margin-top: 23px;
}

.text {
  margin-left: 15px;
  margin-top: 1.3%;
  font-size: 20px;
}

.glyphicon {
  margin-left: 60%;
  margin-top: 20px;
  font-size: 18px;
}

.input-group {
  margin-top: 10px;
  margin-left: 1%;
}

._764642366973873_4484189106170600147_o {
  margin-left: 10%;
  margin-top: 2.6%;
}

.Rectangle-161 {
  position: absolute;
  left: 10.6%;
  top: 82.2%;
  z-index: 1;
  width: 686px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.5);
}

.Rectangle-161 p {
  color: #b4c6d9;
  margin-top: 13px;
  margin-left: 12px;
  font-size: 12px;
}

.cafe-giang-3_20190226222758 {
  margin-top: 1.6%;
  margin-left: 59.5%;
}

.anh2 {
  position: absolute;
  float: right;
  left: 58.6%;
  top: 0%;
}

.Rectangle-162 {
  position: absolute;
  width: 446px;
  height: 72px;
  left: 1.6%;
  top: 32.9%;
  background-color: rgba(0, 0, 0, 0.5);
}

.Rectangle-163 {
  position: absolute;
  width: 446px;
  height: 72px;
  top: 82.5%;
  left: 1.6%;
  background-color: rgba(0, 0, 0, 0.5);
}

.Rectangle-162 p {
  color: #b4c6d9;
  margin-top: 13px;
  margin-left: 12px;
  font-size: 12px;
}

.Rectangle-163 p {
  color: #b4c6d9;
  margin-top: 13px;
  margin-left: 12px;
  font-size: 12px;
}

.Rectangle-164 {
  display: flex;
  width: 1152px;
  height: 208px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 10%;
  margin-top: 1.6%;
}

.logoinsta {
  width: 64px;
  height: 64px;
  object-fit: contain;
  margin-left: 5%;
  margin-top: 6.4%;
}

.card {
  display: flex;
  margin-top: 2.5%;
}

.card1 {
  width: 270px;
  height: 490px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 10%;
}

.dulichkhampha {
  font-weight: 100;
  width: 270px;
  height: 32px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.dulichcon {
  display: flex;
  margin-left: 6%;
}

.Group_6 {
  width: 13.9px;
  height: 12.2px;
  object-fit: contain;
  margin-top: 1.5%;
  margin-left: 20%;
}

.dulichtamdao {
  display: flex;
  margin-top: 5%;
  margin-left: 6%;
}

.dulichtamdao img {
  width: 55.6px;
  height: 55.6px;
  object-fit: contain;
  margin-left: 1.4%;
  margin-top: 1.5%;
}

.dulichtamdao p {
  width: 171.7px;
  height: 37.9px;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: rgba(45, 45, 45, 0.87);
  margin-left: 6%;
  margin-top: 7%;
}

.card2 {
  width: 270px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 1.7%;
}

.card3 {
  width: 270px;
  height: 490px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 1.7%;
}

.card4 {
  width: 270px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 1.7%;
}

.img-brightness {
  filter: brightness(0.5);
}

.text-brightness {
  font-size: 45px;
  position: absolute;
  left: 52%;
  top: 69%;
  color: #ffffff;
}

.comment1 {
  position: absolute;
  width: 333px;
  height: 144px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  left: 67%;
  top: 0%;
}

.comment2 {
  position: absolute;
  width: 333px;
  height: 144px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  left: 67%;
  top: 35%;
}

.comment3 {
  position: absolute;
  width: 333px;
  height: 144px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  left: 67%;
  top: 72%;
}

.comment1 h5 {
  position: absolute;
  left: 23%;
  top: 25%;
  font-size: 18px;
}

.comment2 h5 {
  position: absolute;
  left: 23%;
  top: 25%;
  font-size: 18px;
}

.comment3 h5 {
  position: absolute;
  left: 23%;
  top: 25%;
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  body {
    background-color: blue;
    color: white;
  }
}
/* @media screen and (max-width: 767px)
@media screen and (max-width: 1199px)


